<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <div>{{recipientName}},</div>
    <div>
      <br>
    </div>
    <div>
      A dust permit application for <strong>{{accountName}}</strong>&nbsp;on
      project "<strong>{{projectName}}</strong>" has been submitted to Maricopa
      County. Please prepare for billing.
      <br>
      <br>
    </div>
    <div>Here are the key details:</div>
    <ul style="margin-top:0; margin-bottom:0">
    <li><div>Permit Status: Submitted</div></li>
    <li><div>Application #: {{applicationNumber}} (see attached)</div></li>
    <li><div>Permit # (Facility ID): <span style="color:red">Pending</span></div></li>
    <li><div>Project Name: {{projectName}}</div></li>
    <li><div>Site Address: {{address}}</div></li>
    <li><div>Account: {{accountName}}</div></li>
    <li><div>Accelerated Processing: {{acceleratedProcessing}}</div></li>
    <li><div>Permit Cost (County Fee): {{permitCost}}</div></li>
    {{#if acceleratedFee}}<li><div>Accelerated Fee: {{acceleratedFee}}</div></li>{{/if}}
    <li><div>Schedule Value: {{scheduleValue}}</div></li>
    <li><div>Invoice #: {{invoiceNumber}} (see attached)</div></li>
    <li><div>Invoice Date: {{invoiceDate}}</div></li>
    <li><div>Project Folder: <a href="{{projectFolderLink}}">View in SharePoint</a></div></li>
  </ul>
    <div>
      <br>
    </div>
    <div>Let me know if you have any questions!</div>
    <div>
      <br>
    </div>
    <div>Best,</div>
    <div>--</div>
    <div>
      <br>
    </div>
    <div>Chi Ejimofor</div>
    <div>Project Coordinator</div>
    <div>
      E: <a href="mailto:chi@desertservices.net">chi@desertservices.net</a>
    </div>
    <div>M: (304) 216-8700</div>
    <div>
      <img
        src="cid:logo"
        alt="Desert Services LLC"
        width="264"
        style="max-width:100%"
      >
    </div>
  </body>
</html>
